<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBS Dating</title>
    <link rel="stylesheet" type= "text/css" href="/homePage.css">
    <script>

        window.addEventListener("DOMContentLoaded", () => {

        const editUser = document.getElementById("edit");
        const logOut = document.getElementById("logOut");
        const name = document.getElementById("rName");
        const mail = document.getElementById("rMail");
        const age = document.getElementById("rAge");
        const interests = document.getElementById("rInterests");
        const textField = document.getElementById("rText");
        var fields = [name, mail, age, interests, textField];
        var userId = '<%= user._id %>';

            logOut.addEventListener("click", () => {

                location.replace("/");

            });

            let request = new XMLHttpRequest();



            editUser.addEventListener("click", () => {

                if (editUser.innerHTML == "Rediger bruger") {

                    for(i=0;i<fields.length;i++) {
                
                        fields[i].style.display = "block";

                    }

                    editUser.innerHTML = "Gem brugeroplysninger";

                }
                
                else if (editUser.innerHTML == "Gem brugeroplysninger") {

                    for(i=0;i<fields.length;i++) {
                
                        fields[i].style.display = "none";

                    }

                    //opdater oplysninger
                    if (name.checked == true) {

                        request.open("POST", "/update/"+userId, true);

                        request.setRequestHeader("Content-Type", "application/json");
            
                        request.send(JSON.stringify({name: textField.value}));


                    } else  if (mail.checked == true) {


                    } else if (age.checked == true) {


                    } else if (interests.checked == true) {


                    }

                    editUser.innerHTML = "Rediger bruger";

                }
                

            });

            request.onreadystatechange = () => {

                if (request.status == 200) {

                    location.reload;

                } else {

                    var json = JSON.parse(request.responseText);
                    console.log(json);

                }

            };

        });
    </script>
</head>
<body>
    
    <h1>Velkommen til CBS Dating</h1>
    <button id="logOut">Log ud</button>
    <div class="grid">
        <div class="profile">
            <% if (user) { %>
            <h2>Din profil:</h2>
            <img id="profileImage"src="/<%= user.image.filename %>" width="200px" heigth="200px" alt="Profilbillede">
            <h4 id="name">Dit navn: <%= user.name %></h4><input type="radio" name="edit" class="edit" id="rName">
            <p id="email">Din email: <%= user.email %></p><input type="radio" name="edit" class="edit" id="rMail">
            <p>Din alder: <%= user.age %></p><input type="radio" name="edit" class="edit" id="rAge">
            <p>Dit køn: <%= user.gender %></p>
            <p>Dit foretrukne køn: <%= user.preferredGender %></p>
            <p>Dine interesser:</p>
            <p><%= user.userInterests %></p><input type="radio" name="edit" class="edit" id="rInterests">
            <% } %>
            <br>
            <button id="edit">Rediger bruger</button>
            <input type="text" name="edit" class="edit" id="rText" placeholder="Indtast rettet info">
        </div>
        <div class="currentMatch">
            
        </div>
        <div class="allMatches">
            <h2>Dine matches:</h2>
        </div>
    </div>
</body>
</html>