<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBS Dating</title>
    <link rel="stylesheet" type= "text/css" href="/homePage.css">
</head>
<body>
    
    <h1>Velkommen til CBS Dating - XXX</h1>
    <div class="grid">
        <div class="profile">
            <% if (user) { %>
            <h2>Din profil:</h2>
            <img id="profileImage"src="/<%= user.image.filename %>" width="200px" heigth="200px" alt="Profilbillede">
            <h4 id="homeName">Dit navn: <%= user.name %></h4>
            <p id="homeEmail">Din email: <%= user.email %></p>
            <ul>
                <li>Din alder: <%= user.age %></li>
                <li>Dit køn: <%= user.gender %></li>
                <li>Dit foretrukne køn: <%= user.preferredGender %></li>
            </ul>
            <p>Dine interesser:</p>
            <ul>
                <li><%= user.userInterests %></li>
            </ul>
            <% } %>
        </div>
        <div class="currentMatch">
            
        </div>
        <div class="allMatches">
            <h2>Se alle potentielle matches:</h2>
        </div>
    </div>
</body>
</html>